html {
	height: 100%;
	margin-left: 50px;
	margin-right: 50px;
	//margin-top: 30px;
	//margin-bottom: 30px;
	background-color: #D3D3D3;
}

html body {
	background-color: #fff;
	min-height: 100%;
	height: 100%;
	border-radius: 25px;
}

.container-fluid {
	background-color: #fff;
	min-height: 100%;
	height: 100%;
	//border-radius: 25px;

}

.page-header {
	text-align: center;
}

.contact_icons {
	height: 50px;
	width: 50px;
}

.blog-post {
	margin: auto;
	text-align: center;
	width: 95%;
}

.blog-post em {
	color: grey;
	font-size: 75%;
}

.blog-post p {
	text-align: center;
	font-family: "Lucida Console", Monaco, monospace;
}

.bloc-post h3 {
	text-align: center;
}

p {
	padding-left: 50px;
	text-align: left;
}

hr {
	margin: 150px;
}

ul {
	text-align: left;
	list-style-position: inside;
	list-style: none;
}

li {
	text-align: center;
	margin-right: 50px;
}